body {
    background-color: black
}

.header{
    background-image: url('Image/Excape Plan 4.png');
    filter: blur(2px);
    height: 300px;
    width: 100%;
    background-position: center;
    position: relative;
}

div.titlebar{
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 5%;
    left: 37%;
}

p.titlebar{
    display: block;
    margin-block-start: 1cm;
    margin-block-end: 1cm;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 70px;
    color: white;
    
}

.Content{
    border: 5px solid darkred;
    padding: 1px; 
    overflow: auto; 
    color: white; 
}

.Contenth1{
    max-width: 720px;
    font-size: 40px;
    margin: auto;
    text-align: center;
    color: white;
}

.likkCentre{
    text-align: center;
    margin: auto;
}

.homeImage{
    float: right    
}

.clearfix{
    border: 5px solid darkred;
    padding: 1px; 
    overflow: auto; 
    color: white; 
}

.container{
    float: left;
    width: 15%;
    padding: 5px;
}


.Content3{
    max-width: 2000px;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}

.gamelayout{
    float: left;
    border: 5px solid darkred;
    padding: 1px; 
    overflow: auto; 
    color: white
}

.gameimage{
    float: left;
    width: 50%;
    padding: 20px;
}

.Contentinfo{
    overflow: auto; 
    color: white; 
}

